.enkeltpostvisning {
	font-family: muli, arial, sans-serif;
	width: 96%;
	padding: 10px 2%;
	margin: 40px auto;
	border: 1px dashed #aaa;
	}

.enkeltpostvisning p {
	line-height: 1.2em;
}

.enkeltpostvisning h2 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	line-height: 1em;
	}

.enkeltpostvisning h3 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	}

.enkeltpostvisning h5 {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 400;
	}

.bildecontainer {
	width: 30%;
	float: left;
	margin-right: 2%;
	}

.bildecontainer img {
	width: 150px;
	height: auto;
	}

.infocontainer {
	width: 68%;
	float: right;
	}

input.onlineknapp[type=button] {
	font-size: 1em;
	width: 49%;
	display: inline;
	background: transparent;
	color: #333;
	border-radius:10px;
	border: 4px solid #090;
	background-image: url('data:image/jpg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAAWAB4DAREAAhEBAxEB/8QAGQAAAgMBAAAAAAAAAAAAAAAAAQUEBgcD/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAIBA//aAAwDAQACEAMQAAAB2C4YNcztRuZOLZNN83KenMnMltB//8QAHhAAAgIBBQEAAAAAAAAAAAAABAUCAwYSFBUhMzb/2gAIAQEAAQUCSx5gpysqGXxSjadzNbkWIerceZQEeon/AF9KpwuKNOfrK6ZZDdUIlYWNP//EABoRAQACAwEAAAAAAAAAAAAAAAABIQIRQRD/2gAIAQMBAT8Bi0tOsU+dWtbT/8QAHREAAwABBQEAAAAAAAAAAAAAAAERAhAhIjEyQf/aAAgBAgEBPwF7CZTtGXwWi8lTJiziVSI//8QAJhAAAgICAQIFBQAAAAAAAAAAAQMCEQAEEgUTFCEjM3RBUZOxsv/aAAgBAQAGPwLqk9kyJXslcakRQGMYqTVzFUQw/fB7n5DjdVJPaKBOpG/O86z8yWMWsXI1+8GM+KP6zcOps60VvcW1OJJwNm7TdG648SMizxWmOQuuBye5ubCZyKu36YI+uf/EAB8QAAICAQQDAAAAAAAAAAAAAAABESFREDFBoYHh8P/aAAgBAQABPyFaE01iVUmMDnZKoslzTON/abjOvjTzovaaMvASA8H0sCEbSQkvLATtQL8jgHoj9YLhDP/aAAwDAQACAAMAAAAQwQajfg//xAAaEQEBAQADAQAAAAAAAAAAAAABABEQIXFB/9oACAEDAQE/EOx2GFi3MX17DTOGgFyU93uEut//xAAbEQEBAQACAwAAAAAAAAAAAAABEQAQITFxsf/aAAgBAgEBPxDrJmXvXp2u8fTON4+mRFMIkcgZHJQb/8QAHhABAQADAAEFAAAAAAAAAAAAAREAITFhEFGRofD/2gAIAQEAAT8QODyfgAAeXznb1S4R1GxceiY1XWdxXhrwkUKZRz9P2MO05MyxH6HE0RAPx6MLqzll6FCcmT7kmVTTswNXi0hLL1hqLTwAVE8Of//Z');
    background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 50px;
}

input.bestilleknapp[type=button] {
	width: 49%;
	font-size: 1em;
	display: inline;
	border-radius: 10px;
	border: 4px solid #999;
	color: #333;
	background: transparent;
	background-image: url('data:image/jpg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAAWAB4DAREAAhEBAxEB/8QAGQAAAgMBAAAAAAAAAAAAAAAAAQUEBgcD/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAIBA//aAAwDAQACEAMQAAAB2C4YNcztRuZOLZNN83KenMnMltB//8QAHhAAAgIBBQEAAAAAAAAAAAAABAUCAwYSFBUhMzb/2gAIAQEAAQUCSx5gpysqGXxSjadzNbkWIerceZQEeon/AF9KpwuKNOfrK6ZZDdUIlYWNP//EABoRAQACAwEAAAAAAAAAAAAAAAABIQIRQRD/2gAIAQMBAT8Bi0tOsU+dWtbT/8QAHREAAwABBQEAAAAAAAAAAAAAAAERAhAhIjEyQf/aAAgBAgEBPwF7CZTtGXwWi8lTJiziVSI//8QAJhAAAgICAQIFBQAAAAAAAAAAAQMCEQAEEgUTFCEjM3RBUZOxsv/aAAgBAQAGPwLqk9kyJXslcakRQGMYqTVzFUQw/fB7n5DjdVJPaKBOpG/O86z8yWMWsXI1+8GM+KP6zcOps60VvcW1OJJwNm7TdG648SMizxWmOQuuBye5ubCZyKu36YI+uf/EAB8QAAICAQQDAAAAAAAAAAAAAAABESFREDFBoYHh8P/aAAgBAQABPyFaE01iVUmMDnZKoslzTON/abjOvjTzovaaMvASA8H0sCEbSQkvLATtQL8jgHoj9YLhDP/aAAwDAQACAAMAAAAQwQajfg//xAAaEQEBAQADAQAAAAAAAAAAAAABABEQIXFB/9oACAEDAQE/EOx2GFi3MX17DTOGgFyU93uEut//xAAbEQEBAQACAwAAAAAAAAAAAAABEQAQITFxsf/aAAgBAgEBPxDrJmXvXp2u8fTON4+mRFMIkcgZHJQb/8QAHhABAQADAAEFAAAAAAAAAAAAAREAITFhEFGRofD/2gAIAQEAAT8QODyfgAAeXznb1S4R1GxceiY1XWdxXhrwkUKZRz9P2MO05MyxH6HE0RAPx6MLqzll6FCcmT7kmVTTswNXi0hLL1hqLTwAVE8Of//Z');
    background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 50px;

}


/* TABS */

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

	ul.tab-links {
		margin-bottom: 0;
		}
 
    .tab-links li {
		margin: 0;
        margin-right: 5px;
        float:left;
        list-style:none;
		color: #333;
		font-weight: bold;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:10px 10px 0px 0px;
            background:#ddd;
            font-size:14px;
            color: #333;
			text-decoration: none;
        }
 
        .tab-links a:hover {
            background:#eee;
			color: #000;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#eee;
        color:#333;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#eee;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

