.reglitre_results_header {
	font-family: muli, arial, sans-serif;
	color: #333;
	width: 100%;
	font-weight: lighter;
	display: table;
	}

.reglitre_results_header input[type=button] {
	background: transparent;
	border: none;
	font-family: muli, arial, sans-serif;
	color: #000;
	display: inline;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 1em;
	}

.reglitre_results {
	font-family: muli, arial, sans-serif;
	font-weight: 300;
	color: #222;
	}

.reglitre_results table {
	width: 100%;
	font-family: muli, arial, sans-serif;
	font-weight: 300;
	color: #222;
	font-size: 12px;
	margin-top: 10px;
    border-spacing: 10px;
    border-collapse: separate;
	}

.reglitre_results table td {
	padding: 10px;
	border: 3px solid #ddd;
	}

.reglitre_results h3 {
	margin-bottom: 2px;
	margin-top: 0;
	font-size: 1.2em;
	}

.reglitre_results h3>a {
	color: #222;
	text-decoration: none;
	}

.opphav {
	font-style: italic;
	}

img.omslag {
	max-width: 80px;
	height: auto;
	margin: 0px 10px 5px 0px;
	float: left;
	}

.materialtype {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	}

img.materialtype {
	width: 30px;
	height: auto;
	}

td.row-0 {
	background-color: #ffe;
	background-color: transparent;
	padding: 3px;
	}

td.row-1 {
	background-color: #eff;
	background-color: transparent;
	padding: 3px;
	}

.viser_tekst {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.paginering {
	color: #fff;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	min-width: 220px;
	}

.tilgang_boks {
	text-align: center;
	margin: 0 auto;
	min-width: 120px;
	font-weight: bold;
	margin: 10px 0;
}

a.onlinelink {
	border: 4px solid #9f9;
	border-radius: 15px;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	margin: 10px 0;
	}

strong {
	font-weight: bold;
	}
